
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mask {
    background-color: rgba(0, 0, 0, 0.7);
}

.light-mask {
    background-color: rgba(0, 0, 0, 0.05);
}

/* hero section */
.hero {
    background-image: url('./images/hero-img.jpg');
    height: 600px;
}

/* instructors section */
.instructors-section img {
    width: 150px;
}
